* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue", sans-serif;
	line-height: 1.5;
	color: #000000;
	padding: 0;
}
.container {
	margin: 0 auto;
	padding: 40px 20px 44px;
}

.featured-products {
	width: 100%;
}

.featured-products-title {
	margin-bottom: 10px;
	font-size: 32px;
	font-weight: 800;
}

.featured-products-description {
	margin-bottom: 40px;
	font-size: 14px;
	font-weight: 400;
	line-height: 150%;
}

.products-container {
	height: auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.product-card {
	width: 100%;
	max-width: 158px;
	height: auto;
	position: relative;
	transition: box-shadow 0.3s ease;
	cursor: pointer;
}

.product-card:hover {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.image-wrapper {
	width: 100%;
	height: auto;
	aspect-ratio: 156 / 199;
	position: relative;
	overflow: hidden;
	border-radius: 16px;
	box-flex-group: #f7f8fb;
}

.image-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	transition: opacity 0.3s ease;
}

.image-wrapper img.second {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.image-wrapper:hover img.second {
	opacity: 1;
}

.product-info {
	margin-top: 10px;
}

.product-title {
	font-size: 14px;
	font-weight: 800;
	margin-top: 10px;
}

.product-description {
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 6px;
	color: #000000;
}

.product-price {
	font-size: 14px;
	font-weight: 800;
}

.product-compare-price {
	font-size: 14px;
	color: #a3a3a3;
	text-decoration: line-through;
	margin-right: 10px;
}

/* ========== FAQ Section ========== */

.faq-section {
	max-width: 800px;
	margin: 40px auto 0;
}

.faq-section-title {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 10px;
}

.faq-section-description {
	margin-bottom: 40px;
	font-size: 14px;
	font-weight: 400;
}

.faq-item {
	margin-bottom: 10px;
	padding: 8px 10px 0;
	max-width: 335px;
	width: 100%;
	height: 64px;
	background-color: #f7f8fb;
	border-radius: 12px;
	transition: background-color 0.3s ease;
}

.faq-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.faq-question {
	width: 188px;
	font-size: 16px;
	font-weight: 400;
}

.icon {
	display: inline-block;
	width: 18px;
	height: 18px;
	border: 1px solid #000;
	border-radius: 50%;
	position: relative;
	background: none;
	cursor: pointer;
	color: transparent;
	outline: none;
	cursor: pointer;
}

.icon::before {
	content: "+";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 16px;
	color: #000;
}

.faq-answer {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease;
}

.faq-answer-description {
	margin-top: 8px;
	font-size: 14px;
	line-height: 150%;
}

.faq-item.open {
	height: auto;
	background-color: #d7ecec;
}

.faq-item.open .faq-answer {
	max-height: 200px;
}

.faq-item.open .icon::before {
	content: "-";
}

@media (min-width: 376px) {
	.featured-products {
		width: 100%;
	}

	.container {
		max-width: 1440px;
		width: 100%;
		padding: 40px 60px;
	}

	.product-card {
		margin-top: 40px;
		max-width: 300px;
		width: 100%;
		max-height: 474px;
		height: 100%;
	}

	.image-wrapper {
		max-width: 300px;
		width: 100%;
		max-height: 377px;
		height: 100%;
	}

	.products-container {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 40px;
	}

	.featured-products-title {
		margin-bottom: 20px;
		font-size: 40px;
	}

	.faq-item {
		margin-bottom: 20px;
		padding: 6px 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 640px;
		width: 100%;
		height: 60px;
	}

	.faq-question {
		width: 640px;
	}

	.faq-section-title {
		width: 600px;
		font-size: 40px;
		font-weight: 800;
	}

	.faq-section-description {
		font-size: 20px;
		font-weight: 400;
	}

	.faq-section-box1 {
		margin-right: 80px;
		max-width: 600px;
		width: 100%;
	}

	.faq-section-box2 {
		max-width: 640px;
		width: 100%;
	}

	.faq-section {
		margin: 0;
		margin-top: 120px;
		display: flex;
		flex-direction: row;
	}
}
